@model FreewayIT.Test.ViewModels.City.CreateEditCityViewModel


	<div class="editor-label">
		@Html.LabelFor(model => model.Name)
	</div>
	<div class="editor-field">
		@Html.TextBoxFor(model => model.Name,  new { @class = "form-control auto-select" })
		@Html.ValidationMessageFor(model => model.Name)
	</div>
